# ===== .NET =====
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb

# ===== Logs =====
*.log

# ===== Node =====
node_modules/
dist/
build/
.vite/

# ===== Env =====
.env
.env.*

# ===== VS / VSCode =====
.vscode/
.idea/
*.vs/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== IIS / Publish =====
wwwroot/ScootyInventoryImage/*
!wwwroot/ScootyInventoryImage/.gitkeep